{% extends "index.html" %}

{% block form %}
    <div class="modal-form">
    {% from "_formhelpers.jinja2" import render_field %}
        <form class="form-enviar" method="POST">
            {{ form.csrf_token }}
            {{ render_field(form.name, class="form-control", placeholder="Seu nome") }}
            {{ render_field(form.phone, class="form-control", placeholder="Seu telefone + DDD") }}
            {{ render_field(form.mobile, class="form-control", placeholder="Seu celular + DDD") }}
            <br>
            <input id="button" type="submit" value="Enviar" name="submit">
        </form>
    </div>
{% endblock %}
