<!-- #dialog é o id do DIV definido como mostrado a seguir  -->
                <a href="#dialog" name="modal">Janela Modal Simples</a>
                <div id="boxes">
                    <!-- #personalize sua janela modal aqui -->
                    <div id="dialog" class="window">
                        <b>form action="contato.sql" method="post">
                    <fieldset>
                        <p>Nome: <input type="text" name="nome" placeholder="Digite seu nome"></p>
                        <p>Telefone: <input type="tel" name="tel" placeholder="Telefone"></p>
                        <p>Celular: <input type="tel" name="cel" placeholder="Celular"></p>
                        <br>
                        <input id="button" type="submit" value="Enviar" name="submit">
                    </fieldset>
                    </form></p>
                    </b>

                        <!-- Botão para fechar a janela tem class="close" -->

                        <a href="#" class="close">Fechar [X]</a><br /><br>Janela Modal Simples<br />  <br>Aqui vai o conteúdo da sua Janela Modal Simples.<br></div>

                        <!-- Não remova o div#mask, pois ele é necessário para preencher toda a janela -->

                        <div id="mask"></div>
                    </div>