{% extends "index.html" %}

{% block form %}
{% from "./_formhelpers.jinja2" import render_field %}
<p>
<form class="form-enviar" method="POST" enctype="multipart/form-data" action="{{ url_for('app_page.enviar_form') }}">
    <fieldset>
        {{ form.csrf_token }}
        {{ render_field(form.name, class="form-control", placeholder="Seu nome") }}
        {{ render_field(form.phone, class="form-control", placeholder="Seu telefone + DDD") }}
        {{ render_field(form.mobile, class="form-control", placeholder="Seu celular + DDD") }}
        <br>
        <input id="button" type="submit" value="Enviar" name="submit">
    </fieldset>
</form>
</p>
{% endblock %}